<div class="container">

    <div class="jumbotron text-center" ng-controller="LoggedController">
        <h1><span class="fa fa-lock"></span> Node Authentication</h1>

        <div ng-show="logged">
            <a href="/profile" class="btn btn-default"><span class="fa fa-user"></span> Profile</a>
        </div>

        <div ng-hide="logged">
            <p>Login or Register with:</p>

            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-pencil-square-o"></span> Local Signup</a>
            <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
            <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        </div>
    </div>

    <a href="/news" class="btn btn-default"><span class="fa fa-bug"></span> NewsTest</a>

</div>